/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

/* Styles go here */

.actions-button-cell {
  overflow: visible;
}

.ag-row {
  z-index: 0;
}

.ag-row.ag-row-focus {
  z-index: 1;
}

.ag-root,
.ag-body-viewport,
.ag-body-viewport-wrapper {
  overflow: visible !important;
}

.btn {
  line-height: 0.5;
}
